<routes xmlns="http://camel.apache.org/schema/spring" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


  <route id="msgPoller">
    <from uri="timer://foo?repeatCount=1" />
    <transform>
      <simple>Patient?address-city=Grand%20Rapids&amp;gender=female</simple>
    </transform>
    <log message="Do Search" loggingLevel="INFO" />
    <to uri="bean:resourceRetriever?method=doSearch" />
    <to uri="seda:msgIn"/>
  </route>

<route id="msgIn">
  <from uri="seda:msgIn"/>
  <log message="Process Search Results" loggingLevel="INFO" />
  
    <!-- Split Bundle into component parts (i.e., individual message bundles) -->
    <split>
      <method bean="searchResultSplitter" />
      <to uri="seda:resourceIn" />
    </split>
    <to uri="seda:loadNextPage" />
</route>

<route id="loadNextPage">
  <from uri="seda:loadNextPage"/>
  <log message="Try to Load Next Result Page" loggingLevel="INFO" />
  <to uri="bean:nextPageLoader" />
  <choice>
    <when>
      <simple>${body} != null</simple>
      <to uri="seda:msgIn"/>
    </when>
    <otherwise>
      <log message="NO MORE Result Pages" loggingLevel="INFO" />
    </otherwise>
  </choice>
</route>

<route id="resourceIn">
  <from uri="seda:resourceIn" />
  <log message="Process Incoming Resource" loggingLevel="INFO" />
  
      <to uri="seda:writeToFile"/>
  <!-- Decide where to send the resource -->
  <!-- 
  <choice>
    <when>
      <method bean="resourceDirector" />
      <to uri="seda:postToFhirServer"/>
    </when>
    <otherwise>
      <to uri="seda:writeToFile"/>
    </otherwise>
  </choice>
   -->
</route>



<route id="writeToFile">
  <from uri="seda:writeToFile"/>
  <log message="Write Resource to File" loggingLevel="INFO" />
  <to uri="bean:resourceSerializer" />
  <to uri="file://outputDir?fileExist=Append"/>
</route>
 
<route id="msgOutbox">
  <from uri="seda:postToFhirServer"/>
  <log message="Send Resource to FHIR Server" loggingLevel="INFO" />
  <to uri="bean:resourceSender?method=create" />
  <to uri="seda:resourceToString" />
</route>

<route id="resourceToString">
  <from uri="seda:resourceToString"/>
  <log message="Serialize Resource to String" loggingLevel="INFO" />
  <to uri="bean:resourceSerializer" />
  <to uri="stream:out"/>
</route>


</routes>
